.editorconfig
.git
AUTHORS.md
CONTRIBUTING.md
LICENSE
Makefile
NOTICE
README.md
.env
Dockerfile
.dockerignore
.gitignore
docker-compose.yml
sql/
.DS_Store
.vscode/
### Go Patch ###
/vendor/
/Godeps/

out/
bin/

junit-report.xml
checkstyle-report.xml
coverage.xml
profile.cov
yamllint-checkstyle.xml
go_test.xml

tmp/
